html, body {
  margin: 0;
  padding: 0;
}

html, body, h1, h2, h3, h4 {
  font-family: "Source Sans Pro", sans-serif;
  letter-spacing: 1px;
}

.benefits-1 {
  color: white;
}

.members-text h2 {
  color: #f96955;
}

#blink-cursor {
  -webkit-animation: 1s blinking step-end infinite;
  -moz-animation: 1s blinking step-end infinite;
  -ms-animation: 1s blinking step-end infinite;
  -o-animation: 1s blinking step-end infinite;
  animation: 1s blinking step-end infinite;
}

@keyframes "blinking" {
  from, to {
    color: transparent;
  }
  50% {
    color: #f96955;
  }
}
@-moz-keyframes blinking {
  from, to {
    color: transparent;
  }
  50% {
    color: #f96955;
  }
}
@-webkit-keyframes "blinking" {
  from, to {
    color: transparent;
  }
  50% {
    color: #f96955;
  }
}
@-ms-keyframes "blinking" {
  from, to {
    color: transparent;
  }
  50% {
    color: #f96955;
  }
}
@-o-keyframes "blinking" {
  from, to {
    color: transparent;
  }
  50% {
    color: #f96955;
  }
}
.video-wrapper {
  width: 100%;
  height: 583px;
  display: relative;
  overflow: hidden;
}

.hero-overlay {
  color: #fff;
  text-align: center;
  position: absolute;
  top: 20%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%);
  width: 750px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.hero-overlay h1 {
  font-size: 46px;
}

.hero video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: inline-block;
  vertical-align: baseline;
}

.hero-link {
  margin-top: 20px;
  text-decoration: underline;
}

.memb-wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 98%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.benefits-1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.benefits-1-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.benefit-col1, .benefit-col2, .benefit-col3 {
  width: 240px;
  display: flex;
  flex-direction: column;
}
.benefit-col1 img, .benefit-col2 img, .benefit-col3 img {
  align-self: flex-start;
}

#idea {
  height: 67px;
}

.benefit-image-wrap {
  width: 250px;
}

.tools-wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 725px;
  text-align: center;
}

.tools-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 290px;
}

.tools-img {
  position: relative;
  width: 400px;
}
.tools-img img {
  display: block;
  width: 100%;
  height: auto;
}

.tools-links {
  font-weight: bolder;
  text-align: left;
  height: 290px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.tools-links p {
  -webkit-transition: transform 0.4s;
  transition: transform 0.4s;
  -webkit-transition-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  transition-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
}
.tools-links p:hover {
  color: #358eff;
  transform: translate(5%);
}

#members-title {
  text-align: center;
  font-weight: 900;
}

.members-content {
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  padding: 20px;
  max-width: 704px;
  box-shadow: rgba(5, 45, 73, 0.07) 0px 2px 0px 0px;
  display: flex;
  justify-content: space-between;
}

.members-image {
  position: relative;
  width: 300px;
}
.members-image img {
  display: block;
  width: 100%;
  height: auto;
}

.members-text {
  width: 50%;
}

@media screen and (max-width: 1300px) {
  .memb-wrapper {
    width: 90%;
  }
  .memb-wrapper h1 {
    font-size: 24px;
  }
}
@media screen and (max-width: 800px) {
  .benefits-1-wrapper {
    flex-direction: column;
  }

  .tools-wrapper {
    width: 90%;
  }
}
@media screen and (max-width: 720px) {
  .hero-overlay {
    width: 96%;
  }
  .hero-overlay h1 {
    font-size: 28px;
  }
}
@media screen and (max-width: 470px) {
  .memb-wrapper h1 {
    font-size: 18px;
  }

  .tools-links {
    height: 220px;
  }
  .tools-links p {
    font-size: 10px;
  }
}
.page-content {
  margin-top: 45px;
}

.hero {
  width: 100%;
  height: 583px;
}

.membership {
  margin-left: auto;
  margin-right: auto;
  width: 98%;
  text-align: center;
  height: 230px;
}

.benefits-1 {
  background-color: #052d49;
  padding-top: 42px;
  padding-bottom: 42px;
}

.tools {
  padding-top: 42px;
  padding-bottom: 42px;
}

.members-slider {
  background-color: #f3f4f5;
  padding-top: 42px;
  padding-bottom: 42px;
}

.nav-wrapper {
  width: 100%;
  height: 45px;
  position: fixed;
  top: 0;
  border-bottom: 2px solid #e1e1e1;
  background-color: #fff;
}

.navbar {
  margin-left: auto;
  margin-right: auto;
  width: 98%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.logo {
  position: absolute;
  left: 0;
  height: 100%;
  font-family: "Allerta", sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  width: 95px;
}

#logo-text {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  border-right: 3px solid #000;
  padding-right: 10px;
  padding-top: 7px;
  padding-bottom: 7px;
}

.search {
  height: 100%;
  padding-left: 25px;
  border-left: 2px solid #e1e1e1;
  border-right: 2px solid #e1e1e1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search i {
  font-size: 20px;
  color: #282828;
  padding-right: 20px;
}
.search input {
  color: #000;
  font-weight: 900;
  font-size: 18px;
  font-family: "Source Sans Pro", sans-serif;
  border: none;
  width: 150px;
  -webkit-transition: width 0.4s;
  transition: width 0.4s;
  -webkit-transition-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  transition-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
}
.search input::placeholder {
  color: #b3b3b3;
  font-weight: normal;
}
.search input:focus, .search input:active {
  outline: none;
  width: 300px;
}

.menu, .login {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}
.menu a, .login a {
  font-size: 14px;
  font-family: "Noto Sans", sans-serif;
  font-weight: bold;
  padding-right: 25px;
  padding-left: 25px;
}

#hamburger {
  display: flex;
  height: 100%;
  align-items: center;
  display: none;
}

@media screen and (max-width: 900px) {
  .menu, .search {
    display: none;
  }

  #hamburger {
    display: flex;
  }
}

/*# sourceMappingURL=output.css.map */
