.page-content {
  margin-top: 45px;
}

.hero {
  height: 583px;
  width: 100%;
}

.membership {
  width: 98%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.benefits-1 {
  background-color: #052d49;
  height: 600px;
}
