.page-content {
  margin-top: 45px;
}

.hero {
  @include hero-size;
}

.membership {
  @include auto-center;
  width: 98%;
  text-align: center;
  height: 230px;
}

.benefits-1 {
  background-color: $accent-1;
  @include pad-module;
}


.tools {
  @include pad-module;
}

.members-slider {
  background-color: $accent-3;
  @include pad-module;
}
