// hero section
.video-wrapper {
  @include hero-size;
  display: relative;
  overflow: hidden;
}

.hero-overlay {
  color: #fff;
  text-align: center;

  position: absolute;
  top: 20%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%);

  width: 750px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  h1 {
    font-size: 46px;
  }
}

.hero video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: inline-block;
  vertical-align: baseline;
}

.hero-link {
  margin-top: 20px;
  text-decoration: underline;
}

// just below hero
.memb-wrapper {
  @include auto-center;
  width: 50%;
  height: 98%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

//first benefits section

.benefits-1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.benefits-1-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.benefits-cols {
  width: $benefit-width;
  display: flex;
  flex-direction: column;
  img {
    align-self: flex-start;
  }
}

#idea {
  height: 67px;
}

.benefit-image-wrap {
  width: 250px
}

//tools section
.tools-wrapper {
  @include auto-center;
  width: 725px;
  text-align: center;
}

.tools-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 290px;
}

.tools-img{
  position: relative;
  width: 400px;
  img {
    display: block;
    width: 100%;
    height: auto;
   }
 }

 .tools-links {
   font-weight: bolder;
   text-align: left;
   height: 290px;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   p {
     -webkit-transition: transform 0.4s;
     transition: transform 0.4s;
     -webkit-transition-timing-function: cubic-bezier(0.390, 0.575, 0.565, 1.000);
     transition-timing-function: cubic-bezier(0.390, 0.575, 0.565, 1.000);
   }
   p:hover {
     color: rgb(53, 142, 255);
     transform: translate(5%);
   }
 }

 //members info area

#members-title {
  text-align: center;
  font-weight: 900;
}

.members-content {
  @include auto-center;
  background-color: #fff;
  padding: 20px;
  max-width: 704px;
  box-shadow: rgba(5, 45, 73, 0.07) 0px 2px 0px 0px;
  display: flex;
  justify-content: space-between;
 }

.members-image {
 position: relative;
 width: 300px;
 img {
   display: block;
   width: 100%;
   height: auto;
  }
}

.members-text {
  width: 50%;
}

@media screen and (max-width: 1300px) {
  .memb-wrapper {
    width: 90%;
    h1{
    font-size: 24px;
    }
  }
}

@media screen and (max-width: 800px) {
  .benefits-1-wrapper {
    @include auto-center;
      flex-direction: column;
      width: 98%;
      .benefits-cols {
        width: 90%;
        @include auto-center;
      }
  }
  .tools-wrapper {
    width: 90%;
  }
}

@media screen and (max-width: 720px) {
  .hero-overlay {
    width: 96%;
    h1 {
      font-size: 28px;
    }
  }
}

@media screen and (max-width: 470px) {
  .memb-wrapper h1 {
    font-size: 18px;
  }
  .tools-links {
    height: 220px;
    p {
      font-size: 10px;
    }
  }
}
